{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home:home' %}">Home</a>
                    <a class="breadcrumb-item active" href="{% url 'contact:contact' %}">Contact</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                class="bg-secondary pr-3">Contact Us</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form name="sentMessage" novalidate="novalidate" method="post">
                        {% csrf_token %}


                        <div class="control-group m-2">
                            {{ form.neme }}
                            {% for error in form.neme.errors %}
                                <p class="alert alert-danger text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="control-group m-2">
                            {{ form.email }}
                            {% for error in form.email.errors %}
                                <p class="alert alert-danger text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="control-group m-2">
                            {{ form.subject }}
                            {% for error in form.subject.errors %}
                                <p class="alert alert-danger text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="control-group m-2">
                            {{ form.massage }}
                            {% for error in form.massage.errors %}
                                <p class="alert alert-danger text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send
                                Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>{{ service.address }}</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>{{ service.site_email }}</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>{{ service.phone }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}
